# See https://atom.io/docs/latest/creating-a-package#menus for more details
'context-menu':
  '#quantum-shell-input': [
    {
      'label': 'Kill Child Process'
      'command': 'quantum-shell:kill-process'
    }
  ]
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'quantum-shell'
      'submenu': [
        {
          'label': 'Toggle'
          'command': 'quantum-shell:toggle'
        }
      ]
    ]
  }
]
